/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-abr-2017, 17:18:15
    Author     : Cristina
*/

.container{background-color: #E9E5E5;}
#sliderSection{margin-top:5%;}
.latest_post{float:left; display:inline; width:100%}
.latest_post > h2{background:none repeat scroll 0 0 #798992; color:#fff; font-family:'Oswald',sans-serif; font-size:18px; margin-top:5px; font-weight:400; margin-bottom:10px; margin-left:0; padding:0; position:relative; text-align:center; text-transform:uppercase}
.latest_post > h2 span{padding:4px 10px}
.latest_postnav{height:auto !important; margin-top:20px}
.latest_postnav li{margin-bottom:10px; float:left; width:100%}
.latest_post_container{display:inline; float:left; height:430px; position:relative; width:100%}
.latest_post_container:hover #prev-button, .latest_post_container:hover #next-button{display:block}
.rank{height: 40px;width: 40px;float:left;margin-top: 5%; margin-right: 5%;}
#sliderSection{background-color:#E9E5E5; display:inline; float:left; width:100%; padding:0 30px}
.slider_article{ bottom:20px; left:0; position:absolute; right:0; padding:10px 15px}
.slider_article > h2 a{ background:none repeat scroll 0 0 rgba(0,0,0,0.4); color:#fff; font-size:18px; padding:10px; display:inline-block}
.slider_article > p{ background:none repeat scroll 0 0 rgba(0,0,0,0.4); color:#fff; padding:3px; display:inline-block}
.single_iteam{display:inline; float:left; position:relative; width:100%; height:448px}
.single_iteam img{width:100%; height:100%}
.single_iteam img:hover{opacity:1}
.spost_nav .media-left{width:100px; height:80px}
.media-left > img{height:70px; width:90px}
.spost_nav .media-body > a{font-family:"Oswald",sans-serif;}
#header{display:inline; float:left; width:100%; margin-top:20px}
.enviar{float:right;position:relative;width: 20%;}
.nombre{width:80%;float:left;}
.media-body{width: 100%;}

.titulo{margin-top:-7%;}
.usuarios{margin-top:20%;}
.like{width: 10%;height: 5%;}
.fav{width: 12%;height: 5%;}
.comentario a, p{display: inline;}
.comentario{padding: 20px;float: left;font-size: 18px;background-color: #23819C;color: white; margin-left: 30px; margin-bottom: 20px; border-radius: 10px 10px 10px 0px; width: 60%;}
.comentario a{ color: white; font-weight: bold;}
.coment{background-color: white;color:#23819C;float:left;}
.comentarios{float:left;margin-top:2%;}
.textoCom{color:#23819C;font-size:14px;}